{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Trouvez le Bon Appart.</h1>
        <p class="lead">Trouvez le bon appartement grâce à notre intelligence artificielle quantique codée en CSS. Résultats <span class="text-muted">non</span> garantis.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Oh oui alors !</a>
        </p>
    </main>
{% endblock %}
